body {
    font-family: $base-font;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.site {
    width: $mobile-width;
    background: red;
    margin: 0 auto;

    @include pc {
        max-width: $page-width;
    }
}