body {
    font-family: $base-font;
    color: $darktext;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: $darktext;
}

li {
    list-style-type: none;
}

.site {
    width: $mobile-width;
    margin: 0 auto;

    @include pc {
        width: $page-width;
    }
}