.site-footer {
    width: $mobile-width;
    position: relative;
    background: white;
    margin: 0 auto;
    padding: 5em 0 1em 0;

    @include pc {
        width: $page-width;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        padding: 5em 0 2em 0;
    }
}