header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: $mobile-width;
    margin: 0 auto;

    @include pc {
        padding-bottom: 0;
        width: $page-width;
        height: 100px;
    }
}

.header__title {
    padding: 2em 0;
    flex-grow: 10;
    font-size: 20px;

    @include pc {
        padding: 0;
        font-size: $titlesize;
        border-bottom: none;
        flex-grow: none;
        width: 50%;

        a {
            color: $darktext;
        }
    }
}


.nav {
    display: none;
    font-size: $nav-font-size-mob;
    right: 0;
    height: 100vh;
    background: $theme-color;
    background: $theme-color;

    @include pc {
        display: flex;
        position: static;
        width: 50%;
        height: initial;
        height: $nav-height;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-size: $nav-font-size;
        border-bottom: solid 3px black;
        background: white;
    }
}

.nav__menu {
    text-align: center;

    @include pc {
        text-align: left;
        flex-grow: 2;
    }

    .menu-item {
        padding-bottom: 2em;
        opacity: 0;

        @include pc {
            opacity: 1;
            padding-bottom: 0;
            display: inline-block;
            margin-right: 3em;
        }
    }
}

.current_page_item {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background: $theme-color;
        top: -30%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 35%;
        height: 20%;
        background: $theme-color;
    }

    // @include pc {
    //     position: absolute;
    //     border-top: solid 1px $theme-color;
    // }
}

.nav__mobCartList {

    opacity: 0;

    @include pc {
        display: none;
    }
}

.nav__cartBtn {
    display: none;

    @include pc {
        display: block;
        flex-grow: 1;
    }
}